.form-error {
    margin-left: 2em;
}

ion-button {
    margin: 2em;
}

#feedbackForm {
    width: 80%;
    margin: 2em auto;
    ion-label {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .inputBox {
        margin: 1em;
    }
}
